.upvote-logo {
    border-radius: 0.5rem;
    cursor: pointer;
    height: auto;
    width: 3rem;
}

.default {
    background-color: #F4F6F8;

    path {
        fill: #343A40;
    }
}

.upvoted {
    background-color: #E5E8FD;

    path {
        fill: #253CF2;
    }
}
